.cards {
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(3rem, 4vw, 4rem) 6rem;
    }
    
    &__title {
        flex: 1 1 4;
        font-size: var(--fs-heading-3);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.02em;
        max-width: 40ch;
        margin-bottom: 0;
    }

    &__text {
        flex: 0 0 100%;
        
        p {
            max-width: 61ch;
        }
    }

    &__read-more {
        white-space: nowrap;
    }

    &__grid {
        flex: 0 0 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 3rem;
        
        .card-item {
            position: relative;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            
            > *:last-child {
                margin-bottom: 0;
            }
            
            &__title {
                font-size: var(--fs-heading-5);
                font-weight: 500;
                line-height: 140%;
                margin-bottom: 1em;
            }
            
            &__icon {
                width: 1.25rem;
                height: 1.25rem;
                margin-bottom: 1.5rem;
                background-color: var(--clr-accent-500);
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-position: center;
                mask-position: center;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }
        }
        
        &--boxed {
            grid-template-columns: repeat(auto-fit, minmax(clamp(280px, 25vw, 350px), 1fr));
            justify-content: space-between;
            gap: 1rem;

            .card-item {
                --card-item-padding: clamp(2rem, 3vw, 3rem);
            
                background-color: var(--clr-neutral-100);
                border-radius: var(--br-small);
                padding: var(--card-item-padding);            
                transition: background-color 150ms ease-out;

                &__title {
                    font-size: var(--fs-heading-6);
                    font-weight: 700;
                    letter-spacing: 0;
                    padding-right: 3em;
                    margin-bottom: 3em;
                }

                &__icon {
                    position: absolute;
                    top: var(--card-item-padding);
                    right: var(--card-item-padding);
                    margin-bottom: 0;
                    background-color: var(--clr-neutral-600);
                    transition: background-color 150ms ease-out, transform 300ms ease-out;
                }
            }
        }
    }
}

html[data-theme="dark"] {
    .cards {
        &__grid {
            &--boxed {
                .card-item {
                    background-color: var(--clr-neutral-800);

                    &__icon {
                        background-color: var(--clr-neutral-400);
                    }
                }
            }
        }
    }    
}

@media only screen and (max-width: 782px) {
    .cards {
        .wrap {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            order: 1;
        }

        &__text {
            order: 2;
        }
        
        &__read-more {
            order: 4;
            display: block;
            width: 100%;
        }

        &__grid {
            order: 3;
        }
    }
}