.hero {
    .wrap {
        display: flex;
        align-items: center;
        gap: 2rem 0;
    }

    &__text {
        flex: 0 0 50%;
        padding-right: clamp(4rem, 6vw, 6rem);

        p {
            font-size: var(--fs-large);
        }
    }

    &__image {
        flex: 0 0 50%;
        position: relative;

        > img {
            width: 100%;
            height: auto;
            max-height: 54rem;
            border-radius: var(--br-large);
            object-fit: cover;
            object-position: center;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: calc(50% + 3rem);
                left: -2rem;
                width: auto;
                max-width: 100%;
                max-height: clamp(200px, 28vw, 400px);
                transform: translateY(-50%);
            }
        }
    }
}

@media only screen and (max-width: 782px) {
    .hero {
        .wrap {
            flex-direction: column;
            align-items: stretch;
        }
        
        &__text {
            padding-right: 0;
            
            .button:not(.button-arrow) {
                display: block;
            }
        }

        &__image {            
            &-overlay {
                img {
                    top: auto;
                    left: -1rem;
                    bottom: 1rem;
                    max-width: 75%;
                    transform: none;
                }
            }
        }
    }
}