.image-cards {
    &__text {
        text-align: center;
        margin-bottom: clamp(3rem, 5vw, 5rem);

        :is(h1, h2, h3) {
            max-width: 20ch;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-size: var(--fs-large);
            max-width: 40ch;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__items {
        display: flex;
        gap: 1rem;

        .image-card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: clamp(2rem, 3vw, 3rem);
            height: clamp(28rem, 36vw, 33rem);
            border-radius: var(--br-large);
            color: var(--clr-white);
            overflow: hidden;
            isolation: isolate;
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                z-index: -1;
            }

            &__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: -2;
                transition: transform 0.3s ease-out;
            }

            :is(h1, h2, h3, h4, h5, h6) {
                font-size: var(--fs-heading-6);
                font-weight: 500;
                line-height: 140%;
            }

            p {
                margin-bottom: 0;
            }

            &__read-more {
                &::after {
                    content: "";
                    position: relative;
                    top: 0.0625em;
                    display: inline-block;
                    width: 0.75em;
                    height: 0.75em;
                    margin-left: 0.5ch;
                    background-color: currentColor;
                    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 15.33 12'%3E%3Cpath d='M9.33,12c-.26,0-.51-.1-.71-.29-.39-.39-.39-1.02,0-1.41l3.29-3.29H1c-.55,0-1-.45-1-1s.45-1,1-1h10.92l-3.29-3.29c-.39-.39-.39-1.02,0-1.41s1.02-.39,1.41,0l5,5c.1.1.17.21.22.33.05.12.08.24.08.38h0c0,.14-.03.27-.08.38-.05.12-.12.23-.22.33l-5,5c-.2.2-.45.29-.71.29Z'/%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 15.33 12'%3E%3Cpath d='M9.33,12c-.26,0-.51-.1-.71-.29-.39-.39-.39-1.02,0-1.41l3.29-3.29H1c-.55,0-1-.45-1-1s.45-1,1-1h10.92l-3.29-3.29c-.39-.39-.39-1.02,0-1.41s1.02-.39,1.41,0l5,5c.1.1.17.21.22.33.05.12.08.24.08.38h0c0,.14-.03.27-.08.38-.05.12-.12.23-.22.33l-5,5c-.2.2-.45.29-.71.29Z'/%3E%3C/svg%3E");
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-position: left center;
                    mask-position: left center;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    transition: transform 0.3s ease;
                }
            }

            &:hover,
            &:focus-visible {
                .image-card {
                    &__image {
                        transform: scale(1.05);
                    }

                    &__read-more {
                        &::after {
                            transform: translateX(0.25rem);
                        }
                    }
                }
            }
        }
    }
}

html[data-theme="dark"] {
    .image-cards {
        &__items {
            .image-card {
                color: inherit;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .image-cards {
        &__text {
            text-align: left;

            :is(h1, h2, h3, p) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__items {
            flex-direction: column;

            .image-card {
                &__read-more {
                    display: block;
                    margin-top: 1em;
                }
            }
        }
    }
}