.small-cta {
    &__content {
        display: flex;
        align-items: center;
        gap: 2rem 6rem;
        background-color: var(--clr-neutral-100);
        padding: 3rem;
        border-radius: var(--br-large);

        .button {
            white-space: nowrap;
        }
    }

    &__text {
        :is(h1, h2, h3, h4, h5, h6) {
            font-size: var(--fs-heading-4);
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 0.75em;
        }

        p {
            font-size: var(--fs-medium);
        }
        
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

html[data-theme="dark"] {
    .small-cta {
        &__content {
            background-color: var(--clr-neutral-800);
        }
    }
}

@media only screen and (max-width: 782px) {
    .small-cta {
        &__content {
            flex-direction: column;
            align-items: flex-start;
            padding: 3rem 2rem;
        }

        &__text {
            :is(h1, h2, h3, h4, h5, h6) {
                font-size: var(--fs-heading-3);
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.02em;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .small-cta {
        &__content {
            .button {
                display: block;
                width: 100%;
            }
        }
    }
}