.text-media {
    .wrap {
        display: flex;
        align-items: center;
        gap: 2rem 6rem;
    }

    &__content {
        flex: 1;

        h2 {
            max-width: 16ch;
        }

        :is(p, ul, ol) {            
            max-width: 50ch;
        }

        :is(p, ul) {
            font-size: var(--fs-medium);
        }

        :is(ul, ol) {
            font-weight: 500;
        }
    }

    &__media {
        flex: 1;

        img,
        video {
            width: 100%;
            max-height: 33rem;
            aspect-ratio: 5/4;
            object-fit: cover;
            object-position: center;
            border-radius: var(--br-medium);
        }
    }

    &--tall-media {
        .text-media {
            &__media {
                img,
                video {
                    max-height: 54rem;
                    aspect-ratio: unset;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .text-media {
        .wrap {
            flex-direction: column;
            align-items: stretch;
        }

        &__content {
            flex: unset;
            order: 1;

            h2 {
                font-size: var(--fs-heading-3);
            }

            h3 {
                font-size: var(--fs-heading-4);
            }
        }

        &__media {
            flex: unset;
            order: 2;
        }
    }
}

@media only screen and (max-width: 600px) {
    .text-media {
        &__content {
            .button:not(.button-arrow) {
                display: block;
                margin-top: 2em;
            }
        }

        &__media {
            img {
                aspect-ratio: 5/4 !important;
            }
        }
    }
}