.pagination {
    position: relative;
    margin-top: clamp(3rem, 4vw, 4rem);
    padding-top: 2rem;
    border-top: 1px solid var(--clr-neutral-300);

    .previous,
    .next {
        position: absolute;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        padding: 0.5rem 2rem;
        font-size: var(--fs-regular);
        font-weight: 500;
        text-decoration: none;
        transition: color 150ms ease-out;

        &:hover,
        &:focus-visible {
            color: var(--clr-neutral-600);

            &::before,
            &::after {
                background-color: var(--clr-neutral-600);
            }
        }
    }

    .previous::before,
    .next::after {
        content: "";
        width: 1rem;
        height: 0.875rem;
        background-color: var(--clr-neutral-900);
        -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 15.33 12'%3E%3Cpath d='M6,12c-.26,0-.51-.1-.71-.29L.29,6.71c-.1-.1-.17-.21-.22-.33-.05-.12-.07-.24-.08-.38h0c0-.14.03-.27.08-.38.05-.12.12-.23.22-.33L5.29.29c.39-.39,1.02-.39,1.41,0s.39,1.02,0,1.41l-3.29,3.29h10.92c.55,0,1,.45,1,1s-.45,1-1,1H3.41l3.29,3.29c.39.39.39,1.02,0,1.41-.2.2-.45.29-.71.29Z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 15.33 12'%3E%3Cpath d='M6,12c-.26,0-.51-.1-.71-.29L.29,6.71c-.1-.1-.17-.21-.22-.33-.05-.12-.07-.24-.08-.38h0c0-.14.03-.27.08-.38.05-.12.12-.23.22-.33L5.29.29c.39-.39,1.02-.39,1.41,0s.39,1.02,0,1.41l-3.29,3.29h10.92c.55,0,1,.45,1,1s-.45,1-1,1H3.41l3.29,3.29c.39.39.39,1.02,0,1.41-.2.2-.45.29-.71.29Z'/%3E%3C/svg%3E");
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        transition: background-color 150ms ease-out, transform 300ms ease-out;
    }

    .previous {
        left: 0;

        &:hover {
            &::before {
                transform: translateX(-0.25rem);
            }
        }
    }

    .next {
        right: 0;

        &::after {
            transform: rotate(180deg);
        }

        &:hover {
            &::after {
                transform: rotate(180deg) translateX(-0.25rem);
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.125rem;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &::before {
                display: none;
            }

            .page-numbers {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100vw;
                font-size: var(--fs-small);
                font-weight: 500;
                color: var(--clr-neutral-900);

                &.current {
                    background-color: var(--clr-accent-400);
                    cursor: default;
                }

                &.dots {
                    cursor: default;
                }
            }

            a {
                text-decoration: none;
                transition: background-color 150ms ease-out;

                &:hover,
                &:focus-visible {
                    background-color: var(--clr-neutral-100);
                }
            }
        }
    }
}

html[data-theme="dark"] {
    .pagination {
        border-top-color: var(--clr-neutral-700);

        .previous::before,
        .next::after {
            background-color: var(--clr-white);
        }

        .previous,
        .next {
            &:hover,
            &:focus-visible {
                color: color-mix(in srgb, var(--clr-white) 60%, transparent);

                &::before,
                &::after {
                    background-color: color-mix(in srgb, var(--clr-white) 60%, transparent);
                }
            }
        }

        ul {
            li {
                .page-numbers {
                    color: var(--clr-white);

                    &.current {
                        color: var(--clr-neutral-900);
                    }
                }

                a {
                    &:hover,
                    &:focus-visible {
                        background-color: var(--clr-neutral-800);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .pagination {
        .previous,
        .next {
            text-indent: -9999px;
            overflow: hidden;
        }
    }
}