@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 100 1000;
    font-display: swap;
    src: url(assets/fonts/dm-sans-italic-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(assets/fonts/dm-sans-normal-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
    font-size: var(--fs-heading-1);
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: var(--fs-heading-2);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: var(--fs-heading-3);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 0.75em;
}

h4 {
    font-size: var(--fs-heading-4);
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 0.75em;
}

h5 {
    font-size: var(--fs-heading-5);
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 1em;
}

h6 {
    font-size: var(--fs-heading-6);
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 1em;
}

p {
    font-size: var(--fs-regular);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 0.875em;

    &.tagline {
        color: var(--clr-neutral-600);
        font-size: var(--fs-reqular) !important;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 1em;
    }

    + :is(ol, ul) {
        margin-top: 2em;
    }
}

:is(p:not(.tagline), ul, ol) {
    & + .button {
        margin-top: clamp(1.5em, 2vw, 2em);
    }

    & + :is(h1, h2, h3, h4, h5, h6) {
        margin-top: 1.25em;
    }
}

:is(ul, ol) {
    & + :is(ul, ol) {
        margin-top: 1em;
    }

    & + p {
        margin-top: 2em;
    }
}

ul, ol {
    font-size: var(--fs-regular);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 0.75em;

    li {
        margin-bottom: 1em;
    }
}

ul li {
    position: relative;
    list-style-type: none;
    padding-left: 1.875rem;

    &::before {
        content: "";
        position: absolute;
        top: 0.1875em;
        left: 0;
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        background-color: var(--clr-accent-500);
        -webkit-mask-image: url(assets/images/icon-list-item.svg);
        mask-image: url(assets/images/icon-list-item.svg);
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
    }
}

ol li {
    position: relative;
    list-style-type: none;
    padding-left: clamp(3rem, 4vw, 4rem);
    counter-increment: list-item;

    &::before {
        content: counter(list-item);
        position: absolute;
        top: -0.1875rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        font-size: var(--fs-regular);
        font-weight: 500;
        background-color: var(--clr-neutral-300);
        border-radius: 100vw;
    }
}

a {
    color: inherit;
    transition: color 150ms ease-out;

    &:hover,
    &:focus-visible {
        color: var(--clr-neutral-600);
    }

    &:focus-visible {
        outline: 1px solid var(--clr-neutral-900);
        outline-offset: 2px;
        border-radius: var(--br-small);
    }
}

b, strong {
    font-weight: 700;
}

kbd {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0.5em;
    font-size: var(--fs-tiny);
    font-family: var(--ff);
    background-color: var(--clr-white);
    color: var(--clr-neutral-900);
    border-radius: var(--br-small);
    box-shadow: 0.0625rem 0.125rem 0.125rem color-mix(in srgb, var(--clr-neutral-900) 25%, transparent);
}

blockquote {
    margin: 3rem 0 2rem 0;
    padding: 0 4rem 0 clamp(1.25rem, 2vw, 1.875rem);
    border-left: 0.25rem solid var(--clr-accent-400);
    font-size: var(--fs-large);
    font-weight: 500;
    line-height: 150%;
    color: var(--clr-neutral-600);
}

html[data-theme="dark"] {
    a {
        &:hover,
        &:focus-visible {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        &:focus-visible {
            outline-color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }
    }

    p.tagline {
        color: color-mix(in srgb, var(--clr-white) 60%, transparent);
    }

    ol li {
        &::before {
            background-color: var(--clr-neutral-800);
        }
    }

    blockquote {
        color: var(--clr-neutral-300);
    }

    kbd {
        background-color: var(--clr-neutral-900);
        color: var(--clr-white);
        box-shadow: 0.0625rem 0.125rem 0.125rem color-mix(in srgb, var(--clr-neutral-900) 10%, transparent);
    }
}