:root {
    // Sizes
    --header-eyebrow-height: 2.5rem;
    --header-main-height: clamp(4rem, 8.25vw, 5rem);

    --wrap-max-width: 1376px;
    --wrap-gutter-x: clamp(1.25rem, 3vw, 3rem);

    --section-spacing: clamp(4rem, 7vw, 7.5rem);

    // Font families
    --ff: "DM Sans", sans-serif;

    // Font sizes
    --fs-heading-1: clamp(2.5rem, 3.5vw + 0.25rem, 3.5rem);
    --fs-heading-2: clamp(2.25rem, 3vw + 0.25rem, 3rem);
    --fs-heading-3: clamp(2rem, 2.5vw + 0.25rem, 2.5rem);
    --fs-heading-4: clamp(1.5rem, 2vw + 0.25rem, 2rem);
    --fs-heading-5: clamp(1.25rem, 1.5vw + 0.25rem, 1.5rem);
    --fs-heading-6: clamp(1.125rem, 1.25vw + 0.25rem, 1.25rem);

    --fs-tiny: 0.75rem;
    --fs-small: 0.875rem;
    --fs-regular: 1rem;
    --fs-medium: 1.125rem;
    --fs-large: 1.25rem;

    // Colors
    --clr-white: #fff;
    --clr-neutral-darkest: #121926;
    --clr-neutral: #5f697c;
    --clr-neutral-light: #f2f2f2;
    --clr-neutral-lightest: #fafafa;

    --clr-accent-dark: #00b07d;
    --clr-accent: #03eaac;
    --clr-accent-lighter: #12febc;
    --clr-accent-light: #e0f0ec;
    --clr-accent-lightest: #eff7f5;

    // Border radii
    --br-large: 1rem;
    --br-medium: 0.5rem;
    --br-small: 0.25rem;

    // Choices.js
    --choices-darken: var(--clr-neutral-darkest);
    --choices-lighten: var(--clr-white);
    --choices-bg-color: var(--clr-white);
    --choices-bg-color-disabled: var(--clr-accent-lightest);
    --choices-bg-color-dropdown: var(--clr-white);
    --choices-text-color: var(--clr-neutral-darkest);
    --choices-keyline-color: color-mix(in srgb, var(--clr-neutral-darkest) 15%, transparent);
    --choices-primary-color: var(--clr-accent);
    --choices-disabled-color: var(--clr-neutral);
    --choices-item-disabled-color: var(--clr-neutral-lightest);
    --choices-invalid-color: #d33141;
    --choices-highlighted-color: var(--clr-accent);
    --choices-highlight-color: var(--clr-neutral-darkest);
    --choices-font-size-lg: var(--fs-regular);
    --choices-font-size-md: var(--fs-regular);
    --choices-font-size-sm: var(--fs-small);
    --choices-guttering: 24px;
    --choices-border-radius: var(--br-small);
    --choices-border-radius-item: var(--br-small);
    --choices-z-index: 1;
    --choices-input-height: 44px;
    --choices-width: 100%;
    --choices-base-border: 1px solid;
    --choices-multiple-item-margin: 0.25rem;
    --choices-multiple-item-padding: 0.25rem 0.625rem;
    --choices-dropdown-item-padding: 0.625rem 1rem;
    --choices-list-single-padding: 0.25rem 1rem 0.25rem 0.25rem;
    --choices-input-margin-bottom: 0.3125rem;
    --choices-input-padding: 0.25rem 0 0.25rem 0.125rem;
    --choices-inner-padding: 0.75rem;
    --choices-inner-one-padding: 0.75rem;
    --choices-arrow-size: 0.3125rem;
    --choices-arrow-margin-top: 0;
    --choices-arrow-margin-top-open: 0;
    --choices-arrow-right: 1rem;
    --choices-button-offset: 0.5rem;
    --choices-button-dimension: 0.5rem;
    --choices-button-line-height: 1;
    --choices-button-border-radius: 0;
    --choices-button-opacity: 0.5;
    --choices-button-opacity-hover: 1;
    --choices-placeholder-opacity: 0.5;
}

html[data-theme="dark"] {
    &:root {
        --clr-white: #121926;
        --clr-neutral-darkest: #fff;
        --clr-neutral: #909aac;
        --clr-neutral-light: #202a3d;
        --clr-neutral-lightest: #27334b;

        --clr-accent-dark: #05be8a;
        --clr-accent: #03eaac;
        --clr-accent-lighter: #12febc;
        --clr-accent-light: color-mix(in srgb, #fff 4%, var(--clr-neutral-lightest));
        --clr-accent-lightest: color-mix(in srgb, #fff 8%, var(--clr-neutral-lightest));

        --choices-primary-color: var(--clr-accent-dark);
        --choices-highlighted-color: var(--clr-accent-dark);
    }
}