[type="text"],
[type="email"],
[type="tel"],
[type="number"],
[type="password"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    display: block;
    font-family: var(--ff);
    font-size: var(--fs-regular);
    font-weight: 400;
    line-height: 150%;
    background: var(--clr-white);
    color: var(--clr-neutral-900);
    border: 1px solid color-mix(in srgb, var(--clr-neutral-900) 15%, transparent);
    padding: 0.75em;
    border-radius: var(--br-small);

    &:focus {
        border-color: var(--clr-neutral-900);
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: color-mix(in srgb, var(--clr-neutral-900) 75%, transparent);
    }

    &::-moz-placeholder {
        color: color-mix(in srgb, var(--clr-neutral-900) 75%, transparent);
    }

    &:-ms-placeholder {
        color: color-mix(in srgb, var(--clr-neutral-900) 75%, transparent);
    }

    &:-moz-placeholder {
        color: color-mix(in srgb, var(--clr-neutral-900) 75%, transparent);
    }

    &::placeholder {
        color: color-mix(in srgb, var(--clr-neutral-900) 75%, transparent);
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 0;
}

[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.choices {
    &[data-type*=select-one] {
        &::after {
            border: none;
            width: 0.5em;
            height: 1em;
            transform: translateY(-50%);
            background-color: var(--clr-neutral-600);
            -webkit-mask-image: url(./assets/images/icon-chevron-selector-vertical.svg);
            mask-image: url(./assets/images/icon-chevron-selector-vertical.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
        }
    }

    &__inner {
        display: block;
        background-color: transparent;

        .choices__item {
            padding-right: 1rem;
            transition: color 150ms ease-out;
        }
    }

    &__list {
        &--dropdown,
        &[aria-expanded] {
            width: calc(var(--choices-width, 100%) - 1rem) !important;
            background-color: transparent !important;
            border-color: color-mix(in srgb, var(--clr-neutral-900) 15%, transparent) !important;
            border-radius: var(--choices-border-radius) !important;
            padding: 1rem;
            word-break: keep-all;
            transform: translateX(0.5rem) translateY(calc(-1 * var(--choices-input-height)));
            isolation: isolate;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: color-mix(in srgb, var(--choices-bg-color) 20%, transparent) !important;
                backdrop-filter: blur(1.25rem);
                z-index: -1;
            }
        }
    }

    &__item {
        &--choice {
            border-radius: var(--choices-border-radius);
        }
    }

    &.is-open {
        .choices__inner {
            border-color: var(--clr-neutral-500) !important;
            border-bottom-left-radius: var(--choices-border-radius) !important;
            border-bottom-right-radius: var(--choices-border-radius) !important;
        }
    }

    &:hover,
    &:focus-visible {
        .choices__inner {
            .choices__item {
                color: var(--clr-neutral-600);
            }
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-accent-200);
    }

    ::-webkit-scrollbar {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.people-search-form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    max-width: 30rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-neutral-900);
    border-radius: var(--br-medium);

    [type="search"] {
        flex: 1;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        padding: 0;
    }

    button {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.newsletter-form {
    form {
        display: flex;
        align-items: stretch;
        gap: 1rem;
        max-width: 30rem;
        margin-bottom: 1rem;

        [type="email"] {
            flex: 1 1 auto;
            text-overflow: ellipsis;
        }

        .button {
            white-space: nowrap;
        }
    }

    .terms {
        font-size: var(--fs-tiny);
        color: var(--clr-neutral-600);
        margin-bottom: 0;
    }

    a {
        transition: color 150ms ease-out;

        &:hover,
        &:focus-visible {
            color: var(--clr-neutral-500);
        }

        &:focus-visible {
            outline: 1px solid var(--clr-neutral-900);
            outline-offset: 2px;
            border-radius: var(--br-small);
        }
    }
}

html[data-theme="dark"] {
    [type="text"],
    [type="email"],
    [type="tel"],
    [type="number"],
    [type="password"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="time"],
    [type="url"],
    [type="week"],
    select,
    textarea {
        background: var(--clr-neutral-900);
        color: var(--clr-white);
        border-color: color-mix(in srgb, var(--clr-white) 15%, transparent);

        &:focus {
            border-color: color-mix(in srgb, var(--clr-white) 30%, transparent);
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        &::-moz-placeholder {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        &:-ms-placeholder {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        &:-moz-placeholder {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        &::placeholder {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }
    }

    .choices {
        &__list {
            &--dropdown,
            [aria-expanded] {
                border-color: color-mix(in srgb, var(--clr-white) 15%, transparent) !important;
            }
        }

        &.is-open {
            .choices__inner {
                border-color: var(--clr-neutral-600) !important;
            }
        }

        &:hover,
        &:focus-visible {
            .choices__inner {
                .choices__item {
                    color: color-mix(in srgb, var(--clr-white) 60%, transparent);
                }
            }
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--clr-neutral-600);
        }

        ::-webkit-scrollbar {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .people-search-form {
        border-color: var(--clr-white);

        [type="search"] {
            background: none;
        }
    }

    .newsletter-form {
        p {
            color: color-mix(in srgb, var(--clr-white) 60%, transparent);
        }

        a {
            &:hover,
            &:focus-visible {
                color: var(--clr-neutral-300);
            }
            
            &:focus-visible {
                outline-color: var(--clr-white);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .newsletter-form {
        form {
            flex-direction: column;
            gap: 1rem;
        }
    }
}